# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Données locales (évite de renvoyer le gros parquet sur Git)
data/
results/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/
env/